<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>Registeration page</h1>
    <hr>
    <small>Create you new account!</small>
    <form method="post" action="/register">
        <label for="name">Username</label>
        <input type="text" id="username" name="username"><br/>

        <label for="name">Email</label>
        <input type="text" id="email" name="email"><br/>

        <label for="password">Password</label>
        <input type="text" id="password" name="password"><br/>

        <label for="confirmPassword">Confirm You password</label>
        <input type="text" id="confirmPassword" name="confirmPassword"><br/>
        <button type="submit">Register</button>
    </form>
</div>
</body>
</html>